@font-face{
  font-family: trial;
  src: url("/static/PAC-FONT.TTF");
}

body {
  background: black;
  stroke: white;
  fill: white;
  color: white;
}

h1 {
  font-family: trial;
  color: yellow;
  margin-left: 2%;
}

img {
  width: 350px;
  height: auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-right: 5%;
}

.grid-container h3 {
  position: relative;
  transform: translateX(25%);
}

.image{
  grid-column: 1;
  grid-row: 1 / 3;
  text-align: center;
  transform: translateY(25%)
}

.losses-raw{
  grid-column: 2;
  grid-row: 1;
}

.rewards-mean{
  grid-column: 3;
  grid-row: 1;
}

.qvalues-mean{
  grid-column: 4;
  grid-row: 1;
}

.rewards-raw{
  grid-column: 2;
  grid-row: 2;
}

.rewards-total{
  grid-column: 3;
  grid-row: 2;
}

.qvalues-total{
  grid-column: 4;
  grid-row: 2;
}
